@import url("@fontsource/fragment-mono");
@import url("@fontsource/roboto");
@import '@fontsource/roboto/index.css';

@import "tailwindcss";
:root {
    --fragment: "Fragment Mono", "monospace"; 
    --roboto: "Roboto", "sans-serif";
  }
  
  .font-fragment {
    font-family: var(--fragment);
  }
  
  .font-roboto {
    font-family: var(--roboto);
  }


.custom-scrollbar::-webkit-scrollbar {
  width: 6px; 
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}


.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #00A99B;
  border-radius: 10px;
}


.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #008f85;
}

  